{
  "name": "Kodiak Cornell",
  "author": "kdk-lab",
  "templateVersion": "1.0.0",
  "formatVersion": 1,
  "categories": [
    "Lines",
    "Planners"
  ],
  "orientation": "portrait",
  "constants": [
    {
      "mobileMaxWidth": 1000
    },
    {
      "mobileOffsetX": 600
    },
    {
      "magicOffsetX": "templateWidth > mobileMaxWidth ? 685 : mobileOffsetX"
    },
    {
      "summaryY": 1401
    },
    {
      "offsetX": "templateWidth / 2 - templateHeight / 2 + magicOffsetX"
    },
    {
      "leftX": "templateWidth / 2 - templateHeight / 2"
    },
    {
      "lineOffsetY": 256.5
    },
    {
      "lineSpacing": 78.7
    }
  ],
  "items": [
    {
      "type": "group",
      "boundingBox": {
        "x": "leftX",
        "y": "lineOffsetY",
        "width": "templateHeight",
        "height": "lineSpacing"
      },
      "repeat": {
        "rows": "down"
      },
      "children": [
        {
          "type": "path",
          "strokeWidth": 1,
          "strokeColor": "#808080",
          "data": [
            "M",
            0,
            0,
            "L",
            "parentWidth",
            0
          ]
        }
      ]
    },
    {
      "type": "path",
      "strokeWidth": 3,
      "strokeColor": "#4A90D9",
      "data": [
        "M",
        "leftX",
        "summaryY",
        "L",
        "templateHeight",
        "summaryY",
        "M",
        "offsetX",
        0,
        "L",
        "offsetX",
        "summaryY"
      ]
    }
  ]
}